{% extends "ATLAS/base.html" %}
{% block content %}
  <div class="content-section">
    <h3>Welcome to ATLAS Viewer</h3>
    <p class='text-muted'> Lorem ipsum dolor sit amet, aperiam lucilius ut pri, sint vide partem has in. Veniam intellegebat mel in. At vim minimum reprehendunt. Ei viderer suavitate similique usu, eum id legere dolores principes. Has eu quodsi fastidii.
      Id sed esse graeco, dicat vocibus periculis an nam. Mea delicata oportere ne, cu his brute quidam incorrupte. Nostro nostrud recusabo nam te. Te eius iracundia sit, saepe abhorreant ne cum. Solum simul dicam cu est.            
      Homero omnium ex duo, erant ubique convenire pro eu. Has soluta nostrud ad, qui quod deseruisse ne. Vis ea habemus urbanitas concludaturque. Pri ne latine habemus dissentias, diam laudem ullamcorper ad est. Eu mel ubique graeco alienum, duo harum omittantur consequuntur ea.             
      Sea ex sale commodo gloriatur, malis munere convenire vix an. Animal volumus perpetua ad sea, mea no modus mollis, duo et malis civibus. Te quem efficiantur mea, cum odio molestie ex. Pro te ludus partem bonorum, ius ex doctus saperet intellegebat. Pri tritani incorrupte ex. Dolore consul referrentur pri at.             
      Has cibo altera deleniti an. Mei no case scripserit. Cum eu legere oporteat invenire, at nisl efficiantur has. At decore regione eam, ne vis summo oratio, et modo possit oporteat per. His nonumy facete id, fierent repudiandae vix ad. His vero minimum laboramus ne.
    </p>
  </div>
  <div class="content-section">
    <h3>Other Stuff:</h3>
    <p class='text-muted'> Lorem ipsum dolor sit amet, aperiam lucilius ut pri, sint vide partem has in. Veniam intellegebat mel in. At vim minimum reprehendunt. Ei viderer suavitate similique usu, eum id legere dolores principes. Has eu quodsi fastidii.
      Id sed esse graeco, dicat vocibus periculis an nam. Mea delicata oportere ne, cu his brute quidam incorrupte. Nostro nostrud recusabo nam te. Te eius iracundia sit, saepe abhorreant ne cum. Solum simul dicam cu est.            
      Homero omnium ex duo, erant ubique convenire pro eu. Has soluta nostrud ad, qui quod deseruisse ne. Vis ea habemus urbanitas concludaturque. Pri ne latine habemus dissentias, diam laudem ullamcorper ad est. Eu mel ubique graeco alienum, duo harum omittantur consequuntur ea.             
      Sea ex sale commodo gloriatur, malis munere convenire vix an. Animal volumus perpetua ad sea, mea no modus mollis, duo et malis civibus. Te quem efficiantur mea, cum odio molestie ex. Pro te ludus partem bonorum, ius ex doctus saperet intellegebat. Pri tritani incorrupte ex. Dolore consul referrentur pri at.             
      Has cibo altera deleniti an. Mei no case scripserit. Cum eu legere oporteat invenire, at nisl efficiantur has. At decore regione eam, ne vis summo oratio, et modo possit oporteat per. His nonumy facete id, fierent repudiandae vix ad. His vero minimum laboramus ne.
    </p>
    <!-- put some STUFF here after -->
  </div>
{% endblock content %}